body {
	font-family: serif;
	background-color: white;
	color: #000000;
//#2c2c2c;
	padding: 2em;
}

a {
	color: #0c0c0c;
}

a:visited {
	color: #1c1c1c;
}

a:active {
	color: orange;
}

h1 {
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #8c8c8c;
	width: 75%;
	margin-bottom: 2em;
	text-transform: uppercase;
}

h1:before {
	content: ": :  ";
}

h2 {
	margin-top: 4em;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #8c8c8c;
	width: 75%;
	margin-bottom: 2em;
}

h2:before {
	content: ": :  ";
}

ul.spaced li {
	margin-bottom: 1em;
}

th,td {
	text-align:left;
	padding:4px;
}

table {
}
